<!DOCTYPE html>
<html lang="Russian">
    <head>
    <meta charset="UTF-8">
   
    <title>Страница</title>
    <link rel="stylesheet" href="styles.css">
</head>
    <body>
     <div class="container">
        <div class="menu">
            <a href="/">Домашняя страница</a>
            <a href="page2">Страница 2</a>
            <a href="page3">Страница 3</a>
            <a href="page4">Страница 4</a>
        </div>
        </div>

        


    <div class="content">
      
    </div>





        <footer>
            <p>&copy; 2024 Спа-салон. Все права защищены.</p>
        </footer>
</body>
</html>
