<!DOCTYPE html>
{% load static %}
<html lang="Russian">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0s">
    <title>Наши услуги</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href={% static "main/css/page2.css" %}>

    <script type="text/javascript" src="{% static 'main/js/page.js' %}"></script>

</head>
    <body>
    <div class="content AA">
        <div class="pic">
            <div class="header">
                <h1><a href="#">НАШИ УСЛУГИ</a></h1>
            </div>
            <div class="fake"></div>
            <div class="fake-el"></div>
        </div>

        <div class="site-content">
            <div class="flex-container">
                    <div class="first-column">
                        <div class="box">
                            <div class="text">
                                <h4><a href="#">Различные виды массажа</a></h4>
                                <div class="content content_0"> 
                                    <div class="banner-1"></div>
                                    <p> <b>Классический массаж</b> - это один из самых распространенных видов массажа, который направлен на улучшение кровообращения, уменьшение мышечных напряжений, снятие боли и улучшение общего самочувствия.</p>
                                    <p> <b>Лимфодренажный массаж</b> - это мягкий и нежный вид массажа, который помогает улучшить лимфатический дренаж, уменьшить отечность, улучшить циркуляцию и укрепить иммунную систему.</p>
                                    <p> <b>Спортивный массаж</b> - это направленный вид массажа, который помогает улучшить производительность спортсменов, уменьшить мышечную усталость, ускорить восстановление после тренировок и предотвратить травмы.</p>
                                    <p> <b>Тайский массаж</b> - это древний вид традиционного тайского медицинского массажа, который сочетает в себе элементы йоги, акупрессуры и растяжек для достижения глубокого расслабления и энергетического баланса.</p>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="text">
                                <h4><a href="">Уход за телом</a></h4>
                                <div class="content content_0"> 
                                    <div class="banner-2"></div>
                                    <p> В <b>RELAX&CHILL</b> можно получить различные виды ухода за телом, включая:</p>
                                    <p> <b>Пилинг тела</b> - это процедура, которая помогает очистить кожу от ороговевших клеток и стимулирует ее обновление. После пилинга кожа становится более гладкой и увлажненной.</p>
                                    <p> <b>Обертывание</b> - это процедура, при которой на тело наносят специальные смеси из природных ингредиентов (например, глины, водорослей, меда), которые помогают укрепить кожу, улучшить ее тонус и увлажнить.</p>
                                    <p> <b>Уход за ногтями и руками</b> - маникюр и педикюр в спа-салоне помогут сделать ваши ногти и кожу более ухоженными и красивыми.</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="text">
                                <h4><a href="">Уход за лицом</a></h4>
                                <div class="content content_0"> 
                                    <div class="banner-3"></div>
                                    <p> В спа-салоне предлагается широкий спектр услуг по уходу за лицом.</p>
                                    <p>Одним из популярных видов ухода за лицом в спа-салоне является процедура <b>глубокого очищения кожи</b>.Она включает в себя очищение пор, удаление ороговевших клеток, устранение черных точек и комедонов.</p>
                                    <p>Еще одним популярным видом ухода за лицом является увлажняющая процедура, которая помогает восстановить баланс влаги в коже, повысить ее упругость, улучшить цвет лица и уменьшить морщины.</p>
                                    <p>Опытные специалисты-косметологи в спа-салоне помогут подобрать индивидуальную программу ухода за лицом, исходя из особенностей кожи клиента и его желаемых результатов.</p> 
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        
  
                    </div>
                    <div class="second-column">
                        <div class="word-box">
                            <ul>
                                <li>Красота</li>
                                <li>Ухоженность </li>
                                <li>СПА</li>
                                <li>Массаж </li>
                                <li>Маникюр</li>
                                <li>Педикюр</li>
                                <li>Маска для лица</li>
                                <li>Уход за волосами</li>
                            </ul>
                        </div>
                        <div class="word-box">
                            <ul>
                                <li>Сияющая кожа</li>
                                <li>Расслабление</li>
                                <li>Ароматерапия</li>
                                <li>Жемчужная ванна</li>
                                <li>Ухоженные ногти</li>
                                <li>Хорошее самочувствие</li>
                                <li>Парикмахер</li>
                                <li>Гладкая кожа</li>
                            </ul>
                        </div><div class="word-box">
                            <ul>
                                <li>Идеальный макияж</li>
                                <li>Свечи</li>
                                <li>Экзотические масла</li>
                                <li>Уютный интерьер</li>
                                <li>Здоровое питание</li>
                                <li>Купите сырок</li>
                                <li>Шелковистая кожа</li>
                                <li>Пилинг</li>
                            </ul>
                        </div><div class="word-box">
                            <ul>
                                <li>Антистрессовая процедура</li>
                                <li>Хаммам </li>
                                <li>archipelago</li>
                                <li>Фруктовые маски</li>
                                <li>Восковая депиляция </li>
                                <li>Релаксационная музыка</li>
                                <li>Здоровые волосы</li>
                                <li>Фитнес-зал</li>
                            </ul>
                        </div><div class="word-box">
                            <ul>
                                <li>Гидромассаж</li>
                                <li>SPA-программы </li>
                                <li>Витаминные коктейли </li>
                                <li>Шелковые простыни </li>
                                <li>Увлажняющий крем</li>
                                <li>Цветочные бани </li>
                                <li>Антиоксиданты</li>
                                <li>Антидепрессанты</li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>



    <!--нижняя менюшка-->

    <footer class="footer wraper" >
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li> <a href="#Mission">mission</a></li>
                        <li> <a href="#Careers">careers</a></li>
                        <li> <a href="./company.html">privacy policy</a></li>
                        <li> <a href="#something else">something else</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li> <a href="#">FAQ</a></li>
                        <!-- <li> <a href="#">shipping</a></li> -->
                        <li> <a href="#">returns</a></li>
                        <li> <a href="#">order status</a></li>
                        <li> <a href="#">options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>project</h4>
                    <ul>
                        <li> <a href="#">main objectives</a></li>
                        <li> <a href="#">statistics</a></li>
                        <li> <a href="#">pay attention</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div  id="Contact" class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>

</body>
</html>
