<!DOCTYPE html>
{% load static %}
<html lang="Russian">
    <head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'main/js/registerr.js' %}"></script>
    <link rel="stylesheet" type="text/css" href={% static "main/css/register.css" %}>

</head>
    <body>
      <div class="container">
        <div class="welcome">
          <div class="pinkbox">

            <div class="signup nodisplay">
              <h1>register</h1>
              <form autocomplete="off">
                <input type="text" placeholder="ваше имя">
                <input type="email" placeholder="ваша почта">
                <input type="password" placeholder="ваш пароль">
                <input type="password" placeholder="подтвердите пароль">
                <button class="button submit">создать аккаунт </button>
              </form>
            </div>

            <div class="signin">
              <h1>sign in</h1>
              <form class="more-padding" autocomplete="off">
                <input type="text" placeholder="ваше имя">
                <input type="password" placeholder="ваш пароль">
      
                <button class="button submit">войти</button>
              </form>
            </div>

          </div>
          <div class="leftbox">
            <h2 class="title"><span>RELAX</span>&<br>CHILL</h2>
            <p class="desc">пришел сюда отдохнуть? <span>оТдЫхАй</span></p>
            <!-- СЮДА МОЖНО ВСТАВИТЬ КАКУЮ-НИБУДЬ КАРТИНОЧКУ -->
            <p class="account">уже есть аккаунт?</p>
            <button class="button" id="signin">войти</button>
          </div>

          <div class="rightbox">
            <h2 class="title"><span>RELAX</span>&<br>CHILL</h2>
            <p class="desc">пришел сюда отдохнуть? <span>оТдЫхАй</span></p>
           <!-- СЮДА ТОЖЕ МОЖНО ВСТАВИТЬ КАКУЮ-НИБУДЬ КАРТИНОЧКУ -->
            <p class="account">eще не с нами? </p>
            <button class="button" id="signup">регистрируйся</button>
          </div>

        </div>
       </div>
      </div>
    </body>
</html>
