<!DOCTYPE html>
{% load static %}
<html lang="Russian">
    <head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'main/js/registerr.js' %}"></script>
    <link rel="stylesheet" type="text/css" href={% static "main/css/register.css" %}>

</head>
    <body>
      <div class="container">
        <div class="welcome">
          <div class="pinkbox">

            <div class="signup nodisplay">
              <h1><b>register</b></h1>
              <form autocomplete="off">
                <input type="text" placeholder="ваше имя">
                <input type="email" placeholder="ваша почта">
                <input type="password" placeholder="ваш пароль">
                <input type="password" placeholder="подтвердите пароль">
                <button class="button submit"><b>создать аккаунт</b> </button>
              </form>
            </div>

            <div class="signin">
              <h1><b>sign in</b></h1>
              <form class="more-padding" autocomplete="off">
                <input type="text" placeholder="ваше имя">
                <input type="password" placeholder="ваш пароль">
      
                <button class="button submit"><b>войти</b></button>
              </form>
            </div>

          </div>
          <div class="leftbox">
            <h2 class="title"><span><b>RELAX</b> </span>&<br><b>CHILL</b></h2>
            <p class="desc"><b>пришел сюда отдохнуть?</b><span><b>оТдЫхАй</b></span></p>
            <!-- СЮДА МОЖНО ВСТАВИТЬ КАКУЮ-НИБУДЬ КАРТИНОЧКУ -->
            <p class="account"><b>уже есть аккаунт?</b></p>
            <button class="button" id="signin"><b>войти</b></button>
          </div>

          <div class="rightbox">
            <h2 class="title"><span><b>RELAX</b></span>&<br><b>CHILL</b></h2>
            <p class="desc"><b>пришел сюда отдохнуть?</b> <span><b>оТдЫхАй</b></span></p>
           <!-- СЮДА ТОЖЕ МОЖНО ВСТАВИТЬ КАКУЮ-НИБУДЬ КАРТИНОЧКУ -->
            <p class="account"><b>eще не с нами?</b> </p>
            <button class="button" id="signup"><b>регистрируйся</b></button>
          </div>

        </div>
       </div>
      </div>
    </body>
</html>
